BOT_TOKEN=your-telegram-bot-token-here
KNMI_API_KEY=eyJvcmciOiI1ZTU1NGUxOTI3NGE5NjAwMDEyYTNlYjEiLCJpZCI6ImVlNDFjMWI0MjlkODQ2MThiNWI4ZDViZDAyMTM2YTM3IiwiaCI6Im11cm11cjEyOCJ9
TZ=Europe/Amsterdam
KNMI_CACHE_PATH=data/knmi_stations.json
